@import "../styles/variables.scss";
.btn-click {
  width: 100px;
  height: 37px;
  background-color: $btn-color;
  @include respond-to("md") {
    width: 110px;
    height: 45px;
  }

  @include respond-to("lg") {
    width: 154px;
    height: 48px;
    left: 35px;
  }
}

.btn-position {
  position: absolute;
  top: 60%;
  left: 32%;
  @include respond-to("sm") {
    top: 60%;
    left: 33%;
  }
  @include respond-to("md") {
    top: 57%;
    left: 35%;
  }
  @include respond-to("lg") {
    top: 65%;
    left: 25%;
  }
  @include respond-to("xl") {
    top: 63%;
    left: 31%;
  }
}

.btn-click-text {
  font-size: map-get($font-size, xsmall);
  // @include respond-to("sm") {
  //   font-size: map-get($font-size, xsmall);
  // }

  // @include respond-to("md") {
  //   font-size: map-get($font-size, xsmall);
  // }
  @include respond-to("lg") {
    font-size: map-get($font-size, regular);
  }
}
