@import "../styles/flex.scss";
.container {
  @include flexCenter;
  width: 100%;
}
.card-post {
  @include flexCenter;
  border: 2px solid rgb(168, 172, 168);
  box-shadow: 5px 10px #545755;
  padding: 20px;
}
