// color
$img-bg-color: rgb(154, 194, 152);
$bg-color: rgb(106, 202, 106);
$btn-color: rgb(84, 133, 84);
$border: 1px solid black;
$text-color: black;
// font-size

$font-size: (
  "xsmall": 23px,
  "regular": 30px,
  "medium": 40px,
  "bold": 50px
);
$height: (
  "xsmall": 50px,
  "regular": 60px,
  "medium": 80px,
  "bold": 95px
);
