@import "../../../styles/styles.scss";
.post-container {
  display: flex;
  flex-direction: column;
}
.box-width {
  width: 80%;
}

.text-style {
  padding-bottom: 14px;
}
.btn-style {
  margin-top: 16px;
}
