@import "../../../styles/styles.scss";

.post-container {
  @include flexColumn;
  padding-top: 30px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.image-box {
  width: 80%;
  @include respond-to("sm") {
    width: 52%;
  }
  @include respond-to("md") {
    width: 55%;
  }
  @include respond-to("lg") {
    width: 56%;
  }
}

.image {
  width: 100%;
}

.post-box {
  padding: 18px;
  margin: 8px;
  background-color: $img-bg-color;
  box-shadow: 5px 10px #888888;
  border: 1px solid black;
  @include respond-to("sm") {
    width: 70%;
  }
  @include respond-to("md") {
    width: 78%;
  }
  @include respond-to("lg") {
    width: 75%;
  }
  @include respond-to("xl") {
    width: 87%;
  }
}

.post-title {
  font-size: 15px;
  font-weight: bold;
  @include respond-to("lg") {
    font-size: 25px;
  }
  @include respond-to("xl") {
    font-size: 34px;
  }
}

.post-body {
  font-size: 15px;
  @include respond-to("lg") {
    font-size: 23px;
  }
  @include respond-to("xl") {
    font-size: 31px;
  }
}

.btn-style {
  width: 154px;
  height: 40px;
  margin: 0 auto;
  display: block;
  @include respond-to("lg") {
    width: 187px;
    height: 51px;
    margin-top: 20px;
  }
  @include respond-to("lg") {
    height: 70px;
  }
}
