<div class="container">
  <div class="header">
    <h1 class="header-text">List Of Users From HTTP</h1>
  </div>
  <div class="card" *ngFor="let user of users | async">
    <img class="image" src="{{ user.image }}" />

    <!-- text box inside the image -->

    <div class="card-text-box">
      <h2 class="card-text text-position">{{ user.name }}</h2>
      <button class="btn-click btn-position" (click)="btnClick(user.id)">
        <span class="btn-click-text">Post</span>
      </button>
    </div>
  </div>
</div>
